.form {
  margin-top: 20px;
  max-width: 80%;
  margin: 0 auto;
}
.formInput {
  width: 100%;
  background-color: transparent;
  color: #363636;
  border: 2px solid #30313d;
  padding: 6px;
  border-radius: 5px;
  font-size: 1rem;
}
.formInput:hover {
  width: 100%;
  background-color: transparent;
  color: #363636;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
  padding: 6px;
  border-radius: 5px;
  font-size: 1rem;
}
.formInputDate {
  color: #777;
  width: 100%;
  background-color: transparent;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
  padding: 6px;
  border-radius: 5px;
  font-size: 1rem;
}
.formInputNumber {
  color: #ddd;
  width: 100%;
  background-color: transparent;
  border: 2px solid #30313d;
  padding: 2px 5px;
  border-radius: 5px;
  appearance: none;
  padding: 6px;
  border-radius: 5px;
  font-size: 1rem;
}
.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
.formButton {
  width: 100%;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 8px;
  background: linear-gradient(135deg, #a7b2cf , #667db6);
  cursor: pointer;
}
.budget {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.6rem;
  padding-right: 0.7rem;
  font-size: 2rem;
}
.advice {
  text-align: center;
  padding-bottom: 0.6rem;
  color: #777;
  font-weight: bold;
  font-size: 0.91rem;
}