.transaction {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  border-top: 0.5px solid #30313d;
}
.transaction:first-child {
  border: none;
}
.transactionName {
  font-size: 1.6rem;
}
.transactionDescription {
  font-size: 1rem;
  color: #888;
  padding: 0.5rem 0;
}
.transactionRight {
  text-align: right;
}
.transactionPriceIncome {
  color: #1c1c;
  font-size: 1.4rem;
}
.transactionPriceExpense {
  color: #c11;
  font-size: 1.4rem;
}
.transactionDateTime {
  font-size: 1rem;
  color: #888;
}
