.transaction {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  border-top: 0.5px solid #30313d;
  align-items: center;
}
.transaction:first-child {
  border: none;
}
.transactionName {
  font-size: 1.6rem;
}
.transactionDescription {
  font-size: 1rem;
  color: #888;
  padding: 0.5rem 0;
}
.transactionRight {
  text-align: right;
}
.transactionPriceIncome {
  color: #1c1c;
  font-size: 1.4rem;
  cursor: pointer;
}
.transactionPriceExpense {
  color: #c11;
  font-size: 1.4rem;
  cursor: pointer;
}
.transactionDateTime {
  font-size: 1rem;
  color: #888;
}

@media (max-width: 768px) {
  .transaction {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .transactionName {
    font-size: 1.6rem;
  }
  .transactionDescription {
    font-size: 1rem;
    color: #888;
    padding: 0.9rem 0;
  }
  .transactionPriceIncome {
    color: #1c1c;
    font-size: 1.2rem;
    cursor: pointer;
    padding-top: 0.1rem;
  }
  .transactionPriceExpense {
    color: #c11;
    font-size: 1.2rem;
    cursor: pointer;
    padding-top: 0.1rem;
  }
  .transactionDateTime {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #888;
  }
}
