.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0 1rem 0;
}
.title{
  font-size: 3rem;
}
.paragraph {
  color: #666565;
  padding: 6px;
  font-size: 1.5rem;
}
.paragraph:last-child {
  font-size: 0.74rem;
  padding-top: 1.4rem;
}
.logOut{
  width: 10rem;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(135deg, #a7b2cf , #667db6);
}